<div class="page-container">
    <header class="header-custom">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand custom-brand" routerLink="/">
                    <img src="./../assets/logo.png" alt="AlojaNow Logo" class="brand-logo">
                    AlojaNow
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="hotelesDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Hoteles</a>
                            <ul class="dropdown-menu" aria-labelledby="hotelesDropdown">
                                <li><a class="dropdown-item" routerLink="/explorar-hoteles">Explorar Hoteles</a></li>
                                <li><a class="dropdown-item" routerLink="/hoteles-destacados">Hoteles Destacados</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="promocionesDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Promociones</a>
                            <ul class="dropdown-menu" aria-labelledby="promocionesDropdown">
                                <li><a class="dropdown-item" routerLink="/promociones-activas">Promociones Activas</a></li>
                                <li><a class="dropdown-item" routerLink="#">Hoteles con Descuento</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                    <div class="search-container">
                        <form (submit)="onSearch($event)">
                            <input type="text" name="text" class="search-input" required="" 
                                placeholder="Buscar hoteles..." [(ngModel)]="searchQuery" name="searchQuery"
                                (input)="onInputChange()">
                            <div class="search-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
                                    <title>Search</title>
                                    <path d="M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"></path>
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M338.29 338.29L448 448"></path>
                                </svg>
                            </div>
                        </form>
                        <div class="search-results" *ngIf="showResults">
                            <ul>
                                <li *ngFor="let result of searchResults" (click)="navigateTo(result)">
                                    {{ result.text }}
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Login Button -->
                    <div *ngIf="!isAuthenticated && !isLoginPage" class="d-flex">
                        <button type="button" class="login-button" routerLink="/login">
                            Iniciar sesión
                        </button>
                    </div>

                    <!-- User Menu -->
                    <div *ngIf="isAuthenticated && !isProfilePage" class="user-menu d-flex align-items-center">
                        <span class="user-name me-2 d-none d-md-block" style="color: white;">
                            {{ currentUser?.nombre }}
                        </span>
                        <div class="dropdown">
                            <button class="user-button" type="button" id="userMenu" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img class="user-avatar"
                                    [src]="currentUser?.imagen_usuario || './../assets/cuenta.png'"
                                    alt="User Avatar">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                                <li><a class="dropdown-item" routerLink="/mi-perfil">Mi perfil</a></li>
                                <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main class="content">
        <router-outlet></router-outlet>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>