<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="panel" [routerLink]="['/hoteles-admin']">
                <h3>Hoteles</h3>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="panel" [routerLink]="['/habitaciones-admin']">
                <h3>Habitaciones</h3>
            </div>
        </div>
        
        <div class="col-12 col-md-6">
            <div class="panel" [routerLink]="['/reservaciones-admin']">
                <h3>Reservaciones</h3>
            </div> 
        </div>
        <div class="col-12 col-md-6">
            <div class="panel" >
                <h3>Servicios Adicionales</h3>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="panel" >
                <h3>Reservaciones con Servicios</h3>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="panel" [routerLink]="['/comentarios-admin']">
                <h3>Comentarios y Calificaciones</h3>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="panel" [routerLink]="['/promociones-admin']">
                <h3>Promociones</h3>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="panel" >
                <h3>Pagos</h3>
            </div>
        </div>
    </div>
</div>