<app-carrusel></app-carrusel>
<!--  Sección 2: Contenido principal -->
  <!-- <div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active"><a></a></li>
        </ol>
    </nav>
    
  </div> -->
  <section class="main-content">
    <h2>Explora el mundo con nosotros</h2>
    <p>Encuentra los mejores hospedajes en diferentes ciudades del mundo. Viaja, disfruta y vive la mejor experiencia.</p>
  </section>
  
  <!--  Sección 3: Recomendaciones -->
  <section class="recommendations">
    <h2 id="recommendations">🏡 Recomendaciones para ti</h2>
    <div class="cards">
      <div *ngFor="let place of recommendedPlaces" class="card">
        <img [src]="place.image" alt="Hospedaje">
        <div class="info">
          <h3>{{ place.name }}</h3>
          <p>{{ place.description }}</p>
          <span class="price">{{ place.price }}</span>
          <button>Reservar</button>
        </div>
      </div>
    </div>
  </section>
