<footer class="footer">
    <div class="container">
        <!-- Redes Sociales -->
        <div class="social-icons">
            <a href="/" class="footer-icon">
                <img src="assets/facebook.png" alt="Facebook" class="social-image" />
            </a>
            <a href="/" class="footer-icon">
                <img src="assets/instagram.png" alt="Instagram" class="social-image" />
            </a>
            <a href="/" class="footer-icon">
                <img src="assets/logotipos.png" alt="Twitter" class="social-image" />
            </a>
        </div>

        <div class="row">
            <!-- Sección 1 -->
            <div class="col-md-4">
                <h5>Enlaces Rápidos</h5>
                <p><a href="/">Mapa del sitio</a></p>
                <p><a href="/privacidad">Políticas de privacidad</a></p>
            </div>

            <!-- Sección 2 -->
            <div class="col-md-4">
                <h5>Información</h5>
                <p><a href="/">Sobre nosotros</a></p>
                <p><a href="/preguntas-frec">Preguntas frecuentes</a></p>
            </div>

            <!-- Sección 3 -->
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p><i class="bi bi-envelope"></i> contacto.com</p>
                <p><i class="bi bi-telephone"></i> +52 123 456 7890</p>
                <p><i class="bi bi-geo-alt"></i> CDMX, México</p>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-bottom">
            <p><strong>&copy; 2025 Ralenzo Hospedaje</strong>. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
