<div class="app-wrapper"> <!-- Contenedor nuevo -->
  <ng-container *ngIf="isAdmin; else regularNavigation">
    <app-navigation-admin></app-navigation-admin>
  </ng-container>

  <ng-template #regularNavigation>
    <app-navigation></app-navigation>
  </ng-template>

  <!-- Contenido principal -->
  <main class="content-container"> 
    <app-scroll-buttons></app-scroll-buttons>
<app-cta-button></app-cta-button>
<app-scroll-buttons></app-scroll-buttons>
<!-- Cambia el div por main -->
    <router-outlet></router-outlet>
  </main>

  <footer class="footer"></footer>
</div>

