<div class="breadcrumb-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item active">Preguntas frecuentes</li>
        </ol>
    </nav>
</div>
<section class="faq-section">
    <div class="faq-container">
        <h2 id="preg-fre" class="faq-title" >Preguntas Frecuentes</h2>

        <div class="faq-card">
            <div class="faq-question" id="reserva-linea">
                ¿Cómo puedo hacer una reserva en línea?
            </div>
            <div class="faq-answer">
                Puedes hacer una reserva fácilmente a través de nuestro sitio web seleccionando las fechas y el tipo de
                habitación que prefieras. Luego, completa el formulario con tus datos de contacto y elige tu método de
                pago.
            </div>
        </div>

        <div class="faq-card">
            <div class="faq-question">
                ¿Es posible modificar o cancelar una reserva?
            </div>
            <div class="faq-answer">
                Sí, puedes modificar o cancelar tu reserva contactándonos por correo electrónico o a través de nuestra
                página de gestión de reservas. Ten en cuenta que algunas tarifas pueden no ser reembolsables.
            </div>
        </div>

        <div class="faq-card">
            <div class="faq-question">
                ¿Cómo puedo saber si mi reserva fue confirmada?
            </div>
            <div class="faq-answer">
                Después de realizar la reserva, recibirás un correo electrónico de confirmación con los detalles de tu
                estancia, incluyendo el número de confirmación y el resumen de tu reserva.
            </div>
        </div>

        <div class="faq-card">
            <div class="faq-question">
                ¿El desayuno está incluido en el precio de la habitación?
            </div>
            <div class="faq-answer">
                Depende de la tarifa que elijas. Algunas tarifas incluyen el desayuno, mientras que otras no. Revisa los
                detalles de la tarifa durante el proceso de reserva para confirmar si el desayuno está incluido.
            </div>
        </div>

        <div class="faq-card">
            <div class="faq-question">
                ¿Cómo puedo contactar al hotel durante mi estancia?
            </div>
            <div class="faq-answer">
                Nuestro equipo de atención al cliente está disponible 24/7. Puedes contactarnos directamente llamando al
                número que aparece en tu confirmación de reserva o a través de nuestro chat en línea.
            </div>
        </div>

    </div>
</section>