<div class="container mt-5" style="background-color: #F8F8F8;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Inicio Ad</li>
            <li class="breadcrumb-item active" aria-current="page"></li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Administrar Hoteles</h1>
            <p class="lead">Gestión de hoteles</p>
            <hr class="my-4">
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 d-flex justify-content-between">
            <h4>Lista de Hoteles</h4>
            <button class="btn btn-primary" ngbTooltip="Agregar nuevo hotel" (click)="openModal()">
                <i class="fas fa-plus"></i> Agregar Hotel
            </button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <table class="table-responsive table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Ciudad</th>
                        <th>Pais</th>
                        <th>Descripción</th>
                        <th>Fecha registro</th>
                        <th>Estrellas</th>
                        <th>Imagen</th>
                        <th>Descripción de imagen </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hot of hotelesget">
                        <td> {{ hot.id_hotel }} </td>
                        <td> {{ hot.nombre }} </td>
                        <td> {{ hot.direccion }} </td>
                        <td> {{ hot.ciudad }} </td>
                        <td> {{ hot.pais }} </td>
                        <td> {{ hot.descripcion }} </td>
                        <td> {{ hot.fecha_registro }} </td>
                        <td> {{ hot.estrellas }} </td>
                        <td>
                            <img [src]="hot.imagen_hotel" alt="Imagen del hotel" class="img-fluid rounded"
                                style="max-width: 150px;">
                        </td>
                        <td> {{ hot.descripcion_imagen_hot }} </td>
                        <td class="text-center">
                            <button class="btn btn-success btn-sm" ngbTooltip="Editar hotel"
                                (click)="openModalEdit(hot)">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-danger btn-sm ml-2" ngbTooltip="Eliminar hotel"
                                (click)="deleteHotel(hot.id_hotel)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>